<a href="http://rubyonrails.org/">
<div class="well" style="background:white">
	<div style="margin:0 auto; width:800px;">
	        <img width="87" height="112" alt="Rails" style="margin-right: 10px" src="/images/rails.png">
	    <img width="603" height="112" alt="Web development that doesn't hurt" src="http://rubyonrails.org/images/headers/overview.gif">
	</div>
</div>
</a>