<h1>Editing post</h1>

<%= render 'form' %>
<ul class="pager">
	<li><%= link_to 'Show', @post , :class=>"btn btn-link" %></li>
	<li><%= link_to 'Back', posts_path , :class=>"btn btn-link" %></li>
</ul>